* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #333;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #2c3e50;
}

.content {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.form-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #2980b9;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #34495e;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  background-color: #f7f9fc;
}

button {
  padding: 12px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
}

.start-button {
  background-color: #27ae60;
}

.start-button:hover {
  background-color: #2ecc71;
}

.reset-button {
  background-color: #e74c3c;
}

.reset-button:hover {
  background-color: #c0392b;
}

.canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #bbb;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
